body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* comentário útil pra sanidade: 
    quando for precisar acessar uma imagem que está em uma pasta "img" para que ela entre no código css que está em uma pasta "css" é necessário usar o referencial '../' para voltar um diretório e assim acessar a imagem.*/
    background-image: url('../img/netflix-back.jpg');
    background-repeat: no-repeat;
}

#cabecalho{
    width: 100%;
    position: absolute;
    top: 0;
    left: 2%;
}

#cabecalho figure, img{
    width: 170px;
}

#cabecalho img{
    cursor: pointer;
    padding-top: 20px;
}

#form-content{
    width: 320px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px 68px 100px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#form-content a{
    text-decoration: none;
}

#form-content > h1{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

#form-content input:not(#remenber){
    display: block;
}

#form-content .dados-login{
    margin-bottom: 20px;
    padding: 15px;

    border: none;
    border-radius: 5px;

    background-color: #333333;
    color: #8c8c8c;

    width: 290px;
}

#form-content #entrar {
    margin-top: 40px;
    padding: 15px;

    border: none;
    border-radius: 5px;
    background-color: #f00;

    color: #fff;

    font-weight: 700;

    width: 100%;

}

#footer-form{
    position: relative;

    top: 20px;

    color: #8c8c8c;
    font-size: 14px;
}

#check{
    display: flex;
    align-items: center;
}
#check p {
    margin-left: 3px;
}

#help{
    position: absolute;
    top: 0;
    right: 0;

    color: #8c8c8c;
}

#help:hover{
    text-decoration: underline;
}

#facebook{
    display: block;
    margin-top: 70px;

    font-size: 14px;

    color: #686868;
}



#facebook i{
    background-color: #292970;
    color: #fff;

    padding-right: 4px;
    padding-left: 0;
    padding-top: 4px;
    margin-right: 10px;
    width: 20px;
    height: 16px;

    font-size: 16px;

    text-align: end;
}

#new-user{
    margin-top: 20px;
    font-size: 16px;

    color: #686868;
}

#new-user a{
    color: #fff;
}

#new-user a:hover{
    text-decoration: underline;
}

#captcha{
    margin-top: 20px;

    font-size: 14px;
}

#captcha a{
    color: #0071eb;
}

#captcha a:hover{
    text-decoration: underline;
}


#main-footer{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 200px;

    position: absolute;
    bottom: -200px;

    color: #686868;

    padding-top: 30px;
    padding-bottom: 60px;
}

#main-footer a {
    text-decoration: none;
    color: #686868;
}

#footer-container{
    width: 800px;
    margin: 0 auto;
}

#duvida a:hover{
    text-decoration: underline;
}

#more-info{
    width: 600px;

    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    justify-content: space-between;
}

#more-info a:hover{
    text-decoration: underline;
}

#language{
    position: absolute;
    bottom: 140px;

    background-color: #000;
    padding: 20px;

    border: 1px solid #333;

    
}

#lingua{
    background-color: #000;
    border: none;
    color: #686868;
    font-size: 14px;

    
}






